<div class="row">
  <div class="col-xs-7">
    <h2>Movies</h2>
    <div ng-repeat="movie in movies" style="clear: both;">
      <img ng-src="{{movie.image}}" style="float: left; width: 80px; margin-right: 10px;">
      <h3 ng-bind="movie.title"></h3>
      <p style="font-size: 0.8em; font-style: italic;" ng-bind="movie.category">
        <p ng-bind="movie.description"></p>
      </div>
    </div>
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-menu-right" ng-show="closed" ng-click="openForm()"></span>
      <span class="glyphicon glyphicon-menu-down" ng-hide="closed" ng-click="closeForm()"></span>
    </div>
    <div class="col-xs-4" ng-hide="closed">
      <h2>Add</h2>
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" placeholder="Enter title" ng-model="movie.title" ng-keyup="validateTitle()">
      </div>
      <div class="form-group">
        <label>Image</label>
        <input class="form-control" placeholder="Image" ng-model="movie.image">
        <div ng-show="movie.image.length > 7">
          <h4>Preview</h4>
          <img ng-src="{{movie.image}}" style="width: 50px;">
        </div>
      </div>
      <div class="form-group">
        <label>Category</label>
        <select class="form-control" ng-model="movie.category" ng-change="checkCategorySelected()">
          <option value="">-</option>
          <option value="Epic">Epic</option>
          <option value="Awesome">Awesome</option>
          <option value="Average">Average</option>
        </select>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="movie.description" ng-blur="checkDescription()"></textarea>
      </div>
      <button ng-show="isValid()" class="btn btn-info" ng-click="addMovie()">Add</button>
    </div>
  </div>
</div>
